:host {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #354a5f;
    color: #fff;
    padding: 8px 20px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fd-docs--toolbar {

    &__sidebar-btn {
        margin-left: -10px;
        margin-right: 10px;
        color: #fff;
    }

    &__home-logo {
        flex: 0 0 auto;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #fff;

        @media (min-width: 600px) {
            font-size: 24px;
        }

        &-framework {

        }
    }

    &__spacer {
        flex: 1 1 auto;
    }
}
