.example-component {
    display: block;
    padding: 15px;
    border: 1px solid var(--sapNegativeColor);
    border-radius: var(--sapTile_BorderCornerRadius);
    background-color: var(--sapBaseColor);
    font-size: var(--sapFontSize);
    color: var(--sapTextColor);
    margin: 10px 0;
    position: relative;

    &__object-status {
        position: absolute;
        top: -5px;
        right: 5px;
    }

    &--compact {
        padding: 12px;
        font-size: var(--sapFontSmallSize);
    }

    &--condensed {
        padding: 7px;
        font-size: var(--sapFontSmallSize);
    }
}
