.docs-header-link {
    position: relative;
    display: inline-block;
    padding-top: 4rem;
    margin-block-start: -2rem;
}

.docs-header-link .docs-markdown-a {
    visibility: hidden;
    text-align: center;
    text-decoration: none;
    margin-left: -25px;
    display: inline-block;
    vertical-align: middle;
}

.docs-header-link:hover .docs-markdown-a {
    visibility: visible;
}
