.api-main-header {
    margin: 0;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

.api-main-container {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

fd-popover ::ng-deep .fd-button {
    margin-right: 0;
}
