.docs-fn-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    background: white;
    padding: 1.5rem;
    justify-items: center;
    align-items: center;
}
