# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Changes to eslint or tsconfig files should be reviewed carefully
**/.eslint.json @valorkin @fkolar @droshev
**/tsconfig.json @valorkin @fkolar @droshev
