{{#ifChildrenContainNonDecorators children}}
    <section class="tsd-panel-group tsd-member-group {{cssClasses}}">
        <h2>{{title}}</h2>
        {{#each children}}
            {{#ifNoDecorators this}}
                {{#unless hasOwnDocument}}
                    {{> member}}
                {{/unless}}
            {{/ifNoDecorators}}
        {{/each}}
    </section>
{{/ifChildrenContainNonDecorators}}
