# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/typedoc
/apps/docs/src/assets/typedoc

/apps/docs/src/assets/README.md
/apps/docs/src/assets/CORE_README.md
/apps/docs/src/assets/NEW_COMPONENT.md
/apps/docs/src/assets/PLATFORM_README.md
/apps/docs/src/assets/NEW_PLATFORM_COMPONENT.md
/apps/docs/src/assets/*.css
# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
report.*.json

# e2e
/e2e/*.map
allure-report
allure-results
.tmp
e2e/tmp
axe-reports

# System Files
.DS_Store
Thumbs.db

# SauceLabs
sauce_connect.log
