# Add files here to ignore them from prettier formatting
/dist
/coverage

package.json
package-lock.json

# these files are autogenereated and there's no point in taking the time to format them
/apps/docs/src/assets/typedoc
