language: node_js
sudo: required
node_js: 12.18.4
cache: npm
dist: trusty
addons:
    chrome: stable

git:
  depth: false
env:
  global:
    - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
    - BUILD_ID=$TRAVIS_BUILD_ID
    - JOB_URL=$TRAVIS_JOB_WEB_URL
script:
  - npm run build-all
jobs:
  include:
  - stage: "Lint and Test"
    before_script: export NODE_OPTIONS='–--max_old_space_size=4096'
    script: npm run lint && npm run test:coveralls && npm run build-pack-library

  - stage: "Sauce Labs unit tests"
    name: Sauce Labs - unit tests
    if: type = pull_request
    env:
      - SAUCE_USERNAME=$SAUCE_USERNAME
      - SAUCE_ACCESS_KEY=$SAUCE_ACCESS_KEY
    script:
      - npm run test:platform:saucelabs
      - npm run test:core:saucelabs
  - stage: "Pre-release"
    if: branch = master AND type = push
    before_script: export NODE_OPTIONS='–--max_old_space_size=4096'
    before_deploy:
    - git checkout master
    - bash ./ci-scripts/setup-npm.sh
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish.sh
      skip_cleanup: true
  - stage: "Archive-pre-release"
    if: branch = archive-ngx-core-ng*
    before_script: export NODE_OPTIONS='–--max_old_space_size=4096'
    before_deploy:
    - git checkout archive-ngx-core-ng7
    - bash ./ci-scripts/setup-npm.sh
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish.sh
      skip_cleanup: true
      on:
        all_branches: true
  - stage: "Release"
    if: branch = tmp_branch_for_automated_release_do_not_use
    before_script: export NODE_OPTIONS='-–-max_old_space_size=4096'
    before_deploy:
    - git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
    - git fetch
    - git checkout master
    - bash ./ci-scripts/setup-npm.sh
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish.sh
      skip_cleanup: true
      on:
        all_branches: true
  - stage: "Archive-release"
    if: branch = archive_tmp_branch_for_automated_release_do_not_use
    before_script: export NODE_OPTIONS='–--max_old_space_size=4096'
    before_deploy:
    - git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
    - git fetch
    - git checkout archive-ngx-core-ng7
    - bash ./ci-scripts/setup-npm.sh
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish.sh
      skip_cleanup: true
      on:
        all_branches: true
notifications:
  email:
    on_failure: always
    on_success: change
  slack:
    rooms:
      - ui-fundamentals:zVRyxlqkYnQFD7p8QHkWM8Fd#ngx-automated
