language: node_js
sudo: required
node_js: 12.18.4
cache: npm
addons:
  chrome: stable
  hosts:
    - sap.dev
services:
  - xvfb
git:
  depth: false
script:
  - travis_wait 20 npm run build-all
jobs:
  include:
    - stage: Lint commit message
      script: commitlint-travis
    - stage: "Lint and Test"
      if: type = pull_request
      before_script: export NODE_OPTIONS='–--max_old_space_size=4096'
      env:
        - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
        - BUILD_ID=$TRAVIS_BUILD_ID
        - JOB_URL=$TRAVIS_JOB_WEB_UR
        - SAUCE_USERNAME=$SAUCE_USERNAME
        - SAUCE_ACCESS_KEY=$SAUCE_ACCESS_KEY
      script: bash ./ci-scripts/test-lint.sh && npm run test:coveralls && npm run build-pack-library
    - stage: "Test"
      name: Sauce Labs - e2e tests - platformA
      if: type = pull_request
      env:
        - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
        - BUILD_ID=$TRAVIS_BUILD_ID
        - JOB_URL=$TRAVIS_JOB_WEB_UR
        - SAUCE_USERNAME=$SAUCE_USERNAME
        - SAUCE_ACCESS_KEY=$SAUCE_ACCESS_KEY
        - FIREBASE_TOKEN=$FIREBASE_TOKEN
        - GITHUB_TOKEN=$GITHUB_TOKEN
      before_script:
        - sudo apt-get install jq
        - npm install firebase-tools -g
      script: npm run e2e:platformA:ci
    - stage: "Test"
      name: Sauce Labs - e2e tests - platformB
      if: type = pull_request
      env:
        - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
        - BUILD_ID=$TRAVIS_BUILD_ID
        - JOB_URL=$TRAVIS_JOB_WEB_UR
        - SAUCE_USERNAME=$SAUCE_USERNAME
        - SAUCE_ACCESS_KEY=$SAUCE_ACCESS_KEY
        - FIREBASE_TOKEN=$FIREBASE_TOKEN
        - GITHUB_TOKEN=$GITHUB_TOKEN
      before_script:
        - sudo apt-get install jq
        - npm install firebase-tools -g
      script: npm run e2e:platformB:ci
    - stage: "Test"
      name: Sauce Labs - e2e tests (core)
      if: type = pull_request
      env:
        - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
        - BUILD_ID=$TRAVIS_BUILD_ID
        - JOB_URL=$TRAVIS_JOB_WEB_UR
        - SAUCE_USERNAME=$SAUCE_USERNAME
        - SAUCE_ACCESS_KEY=$SAUCE_ACCESS_KEY
        - FIREBASE_TOKEN=$FIREBASE_TOKEN
        - GITHUB_TOKEN=$GITHUB_TOKEN
      before_script:
        - sudo apt-get install jq
        - npm install firebase-tools -g
      script: npm run e2e:core:ci
    - stage: "Test"
      name: Sauce Labs - unit tests platform
      if: type = pull_request
      before_script:
            - export CHROME_BIN=/usr/bin/google-chrome
      script: npm run test:platform
    - stage: "Test"
      name: Sauce Labs - unit tests core
      if: type = pull_request
      script: npm run test
#    - stage: "Test"
#      name: A11y report
#      if: type = pull_request
#      script: npm run e2e:a11y
    - stage: "Pre-release"
      if: branch = main AND type = push
      before_script: export NODE_OPTIONS='–--max_old_space_size=4096'
      before_deploy:
        - git checkout main
        - bash ./ci-scripts/setup-npm.sh
      deploy:
        - provider: script
          script: bash ./ci-scripts/publish.sh
          skip_cleanup: true
          on:
            all_branches: true
    - stage: "Release"
      if: branch = tmp_branch_for_automated_release_do_not_use
      before_script: export NODE_OPTIONS='-–-max_old_space_size=4096'
      before_deploy:
        - git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
        - git fetch
        - git checkout main
        - bash ./ci-scripts/setup-npm.sh
      deploy:
        - provider: script
          script: bash ./ci-scripts/publish.sh
          skip_cleanup: true
          on:
            all_branches: true
    - stage: "Hotfix-release"
      if: branch = hotfix_tmp_branch_for_automated_release_do_not_use
      before_script: export NODE_OPTIONS='–--max_old_space_size=4096'
      before_deploy:
        - git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
        - git fetch
        - git checkout hotfix_tmp_branch_for_automated_release_do_not_use
        - bash ./ci-scripts/setup-npm.sh
      deploy:
        - provider: script
          script: bash ./ci-scripts/hotfix-publish.sh
          skip_cleanup: true
          on:
            all_branches: true
notifications:
  email:
    on_failure: always
    on_success: change
  slack:
    rooms:
      - ui-fundamentals:zVRyxlqkYnQFD7p8QHkWM8Fd#ngx-automated
