# Global settings applied to the whole site.
#
# “publish” is the directory to publish (relative to root of your repo),
# “command” is your build command,
# “base” is directory to change to before starting build. if you set base:
#    that is where we will look for package.json/.nvmrc/etc not repo root!

[build]
  ignore = 'sh ./ignore.sh'
  publish = "dist/apps/docs"
  command = "NODE_OPTIONS=--max_old_space_size=8192 npm run build-docs-netlify"

[build.environment]
  NPM_FLAGS="--prefix=/dev/null/npm"
  NODE_VERSION = "15.11.0"
  PYTHON_VERSION="3.7"