.inline-code {
    display: inline;
    padding: 0;
}
.base-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

    &:not(:last-child) {
        border-bottom: 1px solid grey;
    }
}