.card {
    vertical-align: middle;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(68, 49, 240, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(228, 16, 16, 0.2);
}

.header {
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: yellowgreen;
}
