// @import url("../../../node_modules/fundamental-styles/dist/fundamental-styles.css");
@import "~@angular/cdk/overlay-prebuilt.css";

$gutter-size: 15px;

@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Light.woff")
        format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Bold.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SAP-icons";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: white;
    font-family: "72", sans-serif;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
}

.navbar {
    background-color: #eee;
    margin-bottom: 20px;
}

.nav {
    list-style-type: none;
}

.nav-item {
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.code-snippet {
    padding: 0.15rem;
    background: rgba(0, 0, 0, 0.03);
}

h2 {
    font-weight: 550;
}

fd-card {
    width: 80%;
}

.fd-tabs__panel.is-expanded {
    width: 95%;
}

.fd-scroll-spy-example-icon-class {
    position: relative;
    display: inline-block;
    margin-right: 4px;

    @at-root {
        [dir="rtl"] &,
        &[dir="rtl"] {
            margin-right: 0;
            margin-left: 4px;
            transform: rotate(180deg);
            bottom: 2px;
        }
    }
}

.middle-marker-container {
    @at-root {
        [dir="rtl"] &,
        &[dir="rtl"] {
            right: initial !important;
            left: 0 !important;
        }
    }
}

pre {
    margin: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: flex;
    padding: 1rem;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;

    code {
        display: block;
    }
}

.docs-component.docs-tile {
    border-radius: 4px 4px 0 0;
    padding-bottom: 4px;
    border: 1px solid #ccc;
    transition: 0.25s background-color;
    display: block;

    ul {
        margin-left: 0;

        a:hover {
            text-decoration: none;
        }
    }
}

.fd-centered-content {
    text-align: center;
}

.is-disabled,
.is-blocked {
    pointer-events: none;
}

//highlight overrides
.hljs-tag,
.hljs-name {
    color: #000080;
}

.hljs-keyword {
    color: #00f;
}

.hljs-comment {
    color: #008000;
}

.hljs-attr {
    color: #008080;
}

.hljs-string {
    color: #d14;
}

.hljs-meta {
    color: #2b91af;
}

.side-nav__search {
    padding: 10px 10px 0 10px;
}

a,
a:focus {
    text-decoration: none;
}

.fd-playground--markdown {
    #fundamental-ngx {
        margin-top: calc(2rem + 10px);
        font-size: 2.2rem;
    }

    ol,
    ul {
        padding-left: 2rem;
    }

    pre {
        margin: 25px 0px;
        background-color: #fff !important;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        display: flex;
        padding: 1rem;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        border: 1px solid #ccc;
        border-radius: 4px;

        code {
            display: block;
        }
    }
}

.fd-playground--markdown > h1 {
    font-size: 2.2rem;
    line-height: 1;
}

.fd-playground--markdown > p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.fd-flex-row {
    display: flex;
    flex-direction: row;
}

.fd-flex-col {
    display: flex;
    flex-direction: column;
}

body {
    .custom-container-class {
        z-index: 0;
    }

    .dialog-custom-overlay-example {
        background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.48) 100%);
    }
}
