.fd-docs-background {
    background-color: #f7f7f7;
    background-color: var(--sapBackgroundColor, #f7f7f7);
}

.fd-docs-display-center {
    display: flex; 
    justify-content: center;
}

.fd-docs-card-width {
    width: 300px;
}
