.content {
    width: 80%;
}
.sidebar {
    width: 20%;
    margin-top: 30px;
    position: sticky;
    top: 0;
}

$corner-padding: 1.5rem;
$github-icon-size: 2rem;

.logo-github {
    position: fixed;
    top: $corner-padding;
    right: $corner-padding;
    width: $github-icon-size;
    height: $github-icon-size;
    z-index: 100;
}

.logo-github--white {
    fill: #ffffff;
}
