.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid > * {
    width: calc(100% / 6);
    margin-bottom: 1rem;
}

.grid * {
    text-align: center;
    display: block;
}

.grid fd-icon {
    margin-bottom: 0.25rem;
}

@media (max-width: 36rem) {
    .grid > * {
        width: calc(100% / 4);
    }
}
