.display-none {
    display: none;
}

.fd-shellbar-navigation-custom {
    .fd-shellbar {
        padding: 0;
    }
}

.shellbar-sidenav-content-example {
    display: flex;
    align-items: flex-start;
}

.fd-nested-list__icon {
    display: flex;
}
