:host {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fd-button {
    margin: 10px;
}
$fd-focus-outline-offset: 0.0625rem;

@mixin fd-fiori-focus($offset: -0.1875rem) {
    &:focus,
    &.is-focus {
      outline-offset: $offset;
      outline-width: var(--sapContent_FocusWidth);
      outline-color: var(--sapContent_FocusColor);
      outline-style: var(--sapContent_FocusStyle);
    }
  }

  fd-avatar{
    @include fd-fiori-focus($fd-focus-outline-offset);
    cursor: pointer;
  }
