:root {
  --fdInverted_Object_Border_Width: 0.0625rem;
  --fdOverlay_Background_Opacity: 0.8;
  /* Rating Indicator */
  --fdRating_Indicator_Selected_Hover_Opacity: 1;
  --fdRating_Indicator_Display_Only_Selected_Color: var(--sapContent_IconColor);
  --fdRating_Indicator_Disabled_Selected_Color: var(--sapContent_DisabledTextColor);
  --fdRating_Indicator_Disabled_Unselected_Color: var(--sapContent_DisabledTextColor);
  --fdRating_Indicator_Disabled_Control_Opacity: 1;
  /* Wizard */
  --fdWizard_Completed_Step_Color: var(--sapTextColor);
  --fdWizard_Completed_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Completed_Step_Border: 0.0625rem solid var(--sapObjectHeader_BorderColor);
  --fdWizard_Current_Step_Color: var(--sapTextColor);
  --fdWizard_Current_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Upcoming_Step_Color: var(--sapTextColor);
  --fdWizard_Upcoming_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Upcoming_Step_Border: 0.0625rem solid var(--sapList_BorderColor);
  --fdWizard_Active_Step_Color: var(--sapTextColor);
  --fdWizard_Active_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Active_Step_Border_Color: var(--sapObjectHeader_BorderColor);
  --fdWizard_Connector_Active_Border_Color: var(--sapList_SelectionBorderColor);
  --fdWizard_Content_Default_Background: var(--sapBackgroundColor);
  --fdWizard_Content_Solid_Background: var(--sapBackgroundColor);
  --fdWizard_Content_List_Background: var(--sapBackgroundColor);
  --fdWizard_Content_Transparent_Background: var(--sapBackgroundColor);
  --fdWizard_Selection_Bar_Height: 0.313rem;
  --fdWizard_Selection_Bar_Background: var(--sapList_SelectionBorderColor);
  /* Slider */
  --fdSlider_Track_Height: 0.375rem;
  --fdSlider_Track_BorderRadius: 0.375rem;
  --fdSlider_Tick_Height: 1.125rem;
  --fdSlider_Track_Active_Background: var(--sapSelectedColor);
  --fdSlider_Track_Active_Border: var(--sapField_BorderColor);
  /* Avatar */
  --fdAvatar_BackgroundColor: var(--sapBackgroundColor);
  --fdAvatar_Tile_BackgroundColor: var(--sapContent_ImagePlaceholderBackground);
  --fdAvatar-Transparent_BackgroundColor: var(--sapBackgroundColor);
  --fdAvatar_Border: 0.0625rem solid var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color: var(--sapBackgroundColor);
  /* Tabs */
  --fdTabs_Selected_Color: var(--sapIndicationColor_5);
  --fdTabs_Selected_Icon_Color: var(--sapBaseColor);
  /* Radio */
  --fdRadio_Selected_Color: var(--sapTextColor);
  --fdRadio_State_Border_Type: dashed;
  /* Checkbox */
  --fdCheckbox_Selected_Color: var(--sapTextColor);
  --fdCheckbox_State_Border_Type: dashed;
  /* Dynamic Page Layout */
  --fdDynamicPage_Hover_Border_Bottom: solid 0.0625rem var(--sapObjectHeader_BorderColor);
  --fdDynamicPage_Title_Header_Transparent_Background: var(--sapObjectHeader_Background);
  --fdDynamicPage_Button_Left_Gradient: linear-gradient(to left, var(--sapObjectHeader_BorderColor), transparent);
  --fdDynamicPage_Button_Right_Gradient: linear-gradient(to right, var(--sapObjectHeader_BorderColor), transparent);
  --fdDynamicPage_Button_Group_Background: var(--sapObjectHeader_BorderColor);
  --fdDynamicPage_Content_List_Background: var(--sapBackgroundColor);
  --fdDynamicPage_Content_Transparent_Background: var(--sapBackgroundColor);
  /* Token */
  --fdToken_Text_Shadow: 0 0 0.125rem #000;
  /* Side-Nav */
  --fdSideNav_Text_Shadow: 0 0 0.125rem #000;
  /* Time */
  --fdTime_Text_Shadow: 0 0 0.125rem #000;
  /* Select */
  --fdSelect_Text_Shadow: 0 0 0.125rem #000;
  /* Popover */
  --fdPopover_Text_Shadow: 0 0 0.125rem #000;
  /* Product Switch */
  --fdProductSwitch_Text_Shadow: 0 0 0.125rem #000;
  /* Menu */
  --fdMenu_Text_Shadow: 0 0 0.125rem #000;
  /* List */
  --fdListBase_Text_Shadow: 0 0 0.125rem #000;
  /* Button */
  --fdButton_Text_Shadow: 0 0 0.125rem #000;
  --fdButton_Emphasized_Border_Width: 0.125rem;
  /* Input Group */
  --fdInputGroup_Text_Shadow: 0 0 0.125rem #000;
  /* Input */
  --fdInput_Text_Shadow: 0 0 0.125rem #000;
  /* Calendar */
  --fdCalendar_Text_Shadow: 0 0 0.125rem #000;
  --fdCalendar_Active_Item_Border: solid 0.0625rem var(--sapList_SelectionBorderColor, #fff);
  /* Form Header */
  --fdFormHeader_Border_Width: calc(3 * var(--sapList_BorderWidth));
  /** Badge on Button */
  --fdBadgeButton_Border_Color: var(--sapGroup_ContentBorderColor);
  /* Card */
  --fdCard_Box_Shadow: none;
  /* Badge */
  --fdBadge_Border_Color: var(--sapContent_ForegroundBorderColor);
  /* Carousel */
  --fdCarousel_Dot_Size: 0.5rem;
  --fdCarousel_Dot_Margin: 0 0.25rem;
  --fdCarousel_Dot_Border: 1px solid var(--sapContent_ForegroundBorderColor);
  /** Flexible Column Layout */
  --fdFlexibleColumnLayoutToggleImageColor: var(--sapObjectHeader_BorderColor);
  --fdFlexibleColumnLayoutBorder: solid 0.0625rem var(--sapGroup_ContentBorderColor);
  --fdFlexibleColumnBackgroundSolid: var(--sapBackgroundColor);
  --fdFlexibleColumnBackgroundTranslucent: var(--sapBackgroundColor);
  --fdFlexibleColumnBackgroundTransparent: var(--sapBackgroundColor);
  /** Dialog */
  --fdDialogBackgroundOpacity: 0.8;
  /* Grid List */
  --fdGrid_List_Item_Hover_Border_Color: var(--sapTile_Interactive_BorderColor);
}
