.docs-html-example-container {
    position: relative;

    &:hover {
        .docs-example-copy-button {
            display: block;
        }
    }
}

.docs-code-example-toolbar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
