:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

::ng-deep {
    .docs-fn-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        padding: 1.5rem;
        justify-items: center;
        align-items: center;
    }
}

.nav {
    list-style: none;
    padding-left: 0;
}

.content {
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 2rem;
    background-color: #ffffff;
    padding-top: 52px;

    &:focus {
        outline: none;
    }
}

.content-margin {
    padding: 12px 40px 80px 60px;
    width: 80%;
    outline: 0;
    transition: 0.5s padding ease-in-out;
}

.collapsed-overlay {
    background-color: black;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.3s opacity ease-in-out;
    visibility: hidden;

    @media screen and (min-width: 992px) {
        display: none;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.overlay-init {
    opacity: 0.7;
    visibility: visible;
}

.fd-sidebar-container {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.skip-navigation {
    position: absolute;
    left: -5000px;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media (max-width: 992px) {
    .content-margin {
        padding: 10px 60px;
        width: auto;
    }
}

@media (max-width: 768px) {
    .content-margin {
        padding: 10px 40px;
    }
}

@media (max-width: 576px) {
    .content-margin {
        padding: 10px 20px;
    }
}
