.fd-avatar-group--group-type__overflow-popover-body--custom-class {
    .fd-popover__wrapper {
        max-width: 312px;
        overflow-x: hidden;
    }

    fd-quick-view {
        .fd-quick-view__content {
            padding: 0;
        }
    }
}
