.example-component {
    display: block;
    padding: 10px 15px;
    border: 1px solid var(--sapNegativeColor);
    background-color: var(--sapBaseColor);
    color: var(--sapTextColor);
    margin-bottom: 10px;

    &:hover {
        background-color: var(--sapHighlightColor) !important;
        > .example-component {
            background-color: var(--sapBaseColor);
        }
    }

    &--compact {
        padding: 7px 12px;
    }

    &--condensed {
        padding: 5px 7px;
    }
}
