.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.fd-dynamic-page-paragraph-example {
    display: inline-block;
    width: 20%;
}
