.fd-grid-list-item-body {
    &--container {
        display: flex;
        word-break: break-all;

        fd-avatar {
            margin-right: 1rem;

            @at-root {
                [dir='rtl'] & {
                    margin-right: 0;
                    margin-left: 1rem;
                }
            }
        }
    }

    &--content {
        * {
            margin: 0;
        }

        .fd-title {
            font-weight: bold;
        }

        .fd-grid-list-item-body--content-address {
            margin: 10px 0;
        }
    }
}
