.fd-grid-list-item-body {
    &--container {
        display: flex;

        fd-avatar {
            margin-right: 1rem;
        }
    }

    &--content {
        * {
            margin: 0;
        }

        .fd-title {
            font-weight: bold;
        }

        .fd-grid-list-item-body--content-address {
            margin: 10px 0;
        }
    }
}
