.component-example__features {
    display: flex;
    justify-content: flex-start;
    .fd-switch {
        margin-right: 10px;
    }
}

rtl-switch {
    padding-right: 20px;
}

.docs-tile-content-example {
    padding: 16px;
}

.docs-tile.docs-tile-example-background {
    background-color: #f7f7f7;
    background-color: var(--sapBackgroundColor, #f7f7f7);
    color: #32363a;
    color: var(--sapTextColor, #32363a);
}

span.fd-badge,
span.fd-status-label {
    margin-right: 16px;
}
