.fd-docs-center-align {
    display: flex;
    justify-content: center;
}

.fd-docs-overlay-page {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}
