import { Component, ChangeDetectionStrategy } from '@angular/core';
import { <%= className %>Component } from '<%= projectImportPath %>';

@Component({
  selector: 'fundamental-ngx-<%= name %>-default-example',
  templateUrl: './<%= name %>-default-example.component.html',
  changeDetection: ChangeDetectionStrategy.OnPush,
  standalone: true,
  imports: [
    <%= className %>Component
  ]
})
export class <%= className %>DefaultExampleComponent {}

