.fd-docs--toolbar {
    &__home-logo {
        display: inline-block;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin-left: 10px;

        @media (min-width: 576px) {
            font-size: 24px;
        }

        &-framework {
            display: inline-block;
            color: #61dafb;
        }
    }

    &__spacer {
        flex: 1 1 auto;
    }

    &__version {
        color: #ffffff;
        line-height: 2rem;
        flex: 0 0 auto;
        margin-left: 20px;
        font-size: 1.2rem;

        display: inline-block;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__lib {
        margin-left: 10px;
        display: flex;
        height: 28px;
        @media only screen and (max-width: 640px) {
            display: none;
        }
    }
}

.logo-github {
    width: 2rem;
    height: 2rem;
    fill: #ffffff;
    vertical-align: middle;
    margin-left: 20px;

    &:hover {
        cursor: pointer;
    }
}
