.fd-docs--toolbar {
    &__home-logo {
        display: inline-block;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;
        margin: 0;
        text-align: center;
        color: #fff;
        color: var(--sapShell_TextColor, #fff);
        text-decoration: none;
        margin-left: 10px;

        @media (min-width: 576px) {
            font-size: 24px;
        }

        &-framework {
            display: inline-block;
            color: #61dafb;
        }
    }

    &__spacer {
        flex: 1 1 auto;
    }

    &__version {
        color: #fff;
        color: var(--sapShell_TextColor, #fff);
        line-height: 2.3rem;
        flex: 0 0 auto;
        font-size: 1.2rem;
        display: inline-block;
        margin-right: 0.5rem;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__lib {
        margin-left: 10px;
        display: flex;
        height: 28px;
        @media only screen and (max-width: 640px) {
            display: none;
        }
    }
}

.fd-shellbar__button--menu.fd-docs--theme-menu {
    margin: 0 0.5rem;
    color: #fff;
    color: var(--sapShell_TextColor, #fff);
    &:hover {
        color: #fff;
        color: var(--sapShell_TextColor, #fff);
    }
}

.logo-github {
    width: 1rem;
    height: 100%;
    margin: 0 0.5rem;
    fill: #fff;
    fill: var(--sapShell_TextColor, #fff);
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

.fd-docs__product-menu {
	margin: 0 0.5rem;
}
