/*
 * Remove template code below
 */
:host {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
}

pre {
    padding: 9px;
    border-radius: 4px;
    background-color: black;
    color: #eee;
}
