{
    "$schema": "../../../../node_modules/ng-packagr/ng-package.schema.json",
    "dest": "../../../../dist/libs/docs/<%= projectDirName %>/<%= name %>",
    "lib": {
        "entryFile": "index.ts"
    }
}
