:host {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-color: #424e5a;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    > a {
        color: white;
        font-weight: bold;
        .has-accent-color{
            color: #2fd0c8;
        }
    }
}

.logo-subtitle {
    font-size: 0.75rem;
}

.sidebar {
    color: #21262c;
    min-width: 18rem;
    max-width: 18rem;
    width: 18rem;
    background-color: #f1f3f6;
    height: 100%;
    overflow-y: scroll;
    transition: 0.3s margin ease-in-out, 0.3s box-shadow ease-in-out;
    z-index: 3;
}

.nav {
    list-style: none;
    border-top: 2px solid #dbe7f3;
}

.nav-item {
    color: #21262c;
    font-size: 1.25rem;
    position: relative;
    padding: 13px 40px;
    flex-grow: 1;
}

.nav-item:focus {
    text-decoration: underline;
}

.side-nav__headers {
    color: #424e5a;
    padding: 15px 20px;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
}

.nav-item:hover,
.nav-item:focus,
.nav-item--active {
    color: #424e5a;
    box-shadow: inset 6px 0 0 0 #2fd0c8;
    padding-left: 34px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 2rem;
}

.content-margin {
    padding: 40px 40px 80px 60px;
    width: 80%;
    outline: 0;
    transition: 0.5s padding ease-in-out;
}

.nav-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.collapsed-overlay {
    background-color: black;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.3s opacity ease-in-out;
    visibility: hidden;

    @media screen and (min-width: 992px){
        display: none;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.overlay-init {
    opacity: 0.7;
    visibility: visible;
}

.sidebar-collapsed {
    margin-left: -18rem;
    box-shadow: none !important;
}

.collapse-button-container {
    height: 0;
    width: 0;
    overflow: visible;

    .collapse-button {
        position: relative;
        top: 14px;
        left: 14px;
    }

    @media screen and (max-width: 768px){
        height: 20px;
        width: 20px;

        .collapse-button {
            top: 10px;
            left: 10px;
        }
    }
}

@media (max-width: 992px){
    .sidebar {
        position: absolute;
        box-shadow: 2px 0 50px 0 #292929;
    }

    .content-margin {
        padding: 40px 80px;
        width: 100%;
    }
}

@media (max-width: 768px){
    .content-margin {
        padding: 20px 40px;
    }
}

@media (max-width: 576px){
    .content-margin {
        padding: 10px 20px;
    }
}
