:host {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-color: #424e5a;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    > a {
        color: white;
        font-weight: bold;
        .has-accent-color{
            color: #2fd0c8;
        }
    }
}

.logo-subtitle {
    font-size: 0.75rem;
}

.sidebar {
    color: #21262c;
    min-width: 18rem;
    max-width: 18rem;
    width: 18rem;
    background-color: #f1f3f6;
    height: 100%;
    overflow-y: scroll;
}

.nav {
    list-style: none;
    border-top: 2px solid #dbe7f3;
}

.nav-item {
    color: #21262c;
    font-size: 1.25rem;
    position: relative;
    padding: 13px 40px;
    flex-grow: 1;
}

.nav-item:focus {
    text-decoration: underline;
}

.side-nav__headers {
    color: #424e5a;
    padding: 15px 20px;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
}

.nav-item:hover,
.nav-item:focus,
.nav-item--active {
    color: #424e5a;
    box-shadow: inset 6px 0 0 0 #2fd0c8;
    padding-left: 34px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 2rem;
}

.content-margin {
    padding: 40px 40px 80px 60px;
    min-width: 1024px;
    max-width: 1600px;
    width: 80%;
    outline: 0;
}

.nav-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
