:host {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-color: #424e5a;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    > a {
        color: white;
        font-weight: bold;
        .has-accent-color{
            color: #2fd0c8;
        }
    }
}

.logo-subtitle {
    font-size: 0.75rem;
}

.sidebar {
    color: #21262c;
    min-width: 18rem;
    background-color: #f1f3f6;
    height: 100%;
    overflow: auto;
}

.nav {
    list-style: none;
    border-top: 2px solid #dbe7f3;
}

.nav-item {
    color: #21262c;
    font-size: 1.25rem;
    position: relative;
    padding: 13px 40px;
}

.side-nav__headers {
    color: #424e5a;
    padding: 15px 20px;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
}

.nav-item:hover,
.nav-item--active {
    color: #424e5a;
    border-left: 6px solid #2fd0c8;
    padding-left: 34px;
}
.nav-item.ariba::after{
  font-family: "Ariba-icons";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  content:'\eA21';
  color: orange;
  border: 1px solid #000;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  font-size: 15px;
  font-weight: 700;
  line-height: 12px;
  margin-left: 10px;
}
.content {
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 2rem;
}

.content-margin {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
