.custom-select-trigger-styling {
    display: flex;
    align-items: center;

    span {
        color: darkgrey;
        padding-left: 0.5rem;
    }

    fd-icon {
        display: flex;
        padding-right: 0.5rem;
    }
}

[dir="rtl"] span {
        padding-right: 0.5rem;
}

[dir="rtl"] fd-icon {
        padding-left: 0.5rem;
    
}