.custom-select-trigger-styling {
    display: flex;

    fd-icon {
        display: flex;
        padding: 0 .5rem;
        animation: spin 1s infinite ease-in-out;
    }

    span {
        padding: 0 .5rem;
        color: darkgrey;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
