@mixin fd-fiori-focus() {
    &:focus,
    &.is-focus {
      outline-width: .0625rem;
      outline-width: var(--sapContent_FocusWidth, .0625rem);
      outline-color: #000;
      outline-color: var(--sapContent_FocusColor, #000);
      outline-style: dotted;
      outline-style: var(--sapContent_FocusStyle, dotted);
    }
  }

  fd-avatar,
  fd-icon,
 .fd-list,
 a {
    @include fd-fiori-focus();
    cursor: pointer;
  }


  .fd-docs-flex-display-helper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
}
