.schema {
    max-height: 500px;
    overflow-y: scroll;
}
.schema-block {
    display: block;
}

@media (max-width: 576px) {
    .playground-wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

h3 {
    padding-top: 30px;
}
