.fd-playground {
    background-color: var(--sapObjectHeader_Background);

    &--title {
        padding-top: 2rem;
    }

    &__content {
        padding-bottom: 1rem;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;

        &--block {
            display: block;
        }
    }

    &__col {
        flex: 1;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
}
