.fd-tile__footer {
    height: 1rem;
    min-height: 1rem;
    max-height: 1rem;
    display: flex;
}
.fd-tile__content {
    height: 3.875rem;
    min-height: 3.875rem;
    max-height: 3.875rem;
    margin-bottom: 0.25rem;
}
.fd-tile__header {
    height: 3.625rem;
    min-height: 3.625rem;
    max-height: 3.625rem;
    margin-bottom: 0.25rem;
}
