:host {
    display: block;
    height: 100vh;
    background-color: #008dee;
    font-family: 'Lato', sans-serif;
}

$angular-logo-spacing: 1.5rem;
$triangle-exposure: -2.5rem;
$trangle-size: 10rem;

.home {
    display: flex;
    height: 100%;
    width: 100%;
}

.home__welcome {
    padding: 2.5rem 3.5rem;
    background-color: #ffffff;
    max-width: 28rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.home__wrap {
    position: relative;
    margin: auto;
}

.home__title {
    font-size: 1.75rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

.home__lead {
    font-size: 1.125rem;
    margin-bottom: $angular-logo-spacing;
}

.home__logo-angular-wrap {
    margin-bottom: $angular-logo-spacing;
}

.home__logo-angular {
    max-width: 6rem;
    display: inline-block;
}

.home__code-wrap {
    margin-bottom: 2rem;
}

.home__btn_docs {
    background-color: #000000;
    padding: 0.75rem 1rem;
    color: #ffffff;
    border: none;
}

.home__btn_docs:hover {
    background-color: #222222;
}

.home__abstract {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.triangle {
    position: absolute;
}

.triangle--bottom-left {
    bottom: $triangle-exposure;
    left: $triangle-exposure;
    border-left: $trangle-size solid #000000;
    border-bottom: $trangle-size solid #000000;
    border-right: $trangle-size solid transparent;
    border-top: $trangle-size solid transparent;
}

.triangle--top-right {
    top: $triangle-exposure;
    right: $triangle-exposure;
    border-top: $trangle-size solid #000000;
    border-right: $trangle-size solid #000000;
    border-bottom: $trangle-size solid transparent;
    border-left: $trangle-size solid transparent;
}
