$gutter-size: 15px;

html,
body {
    position: relative;
    height: 100%;
}

body {
    background-color: white;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
}
.navbar {
    background-color: #eee;
    margin-bottom: 20px;
}
.nav {
    list-style-type: none;
}
.nav-item {
    margin-bottom: 0;
    display: inline-block;
}
.nav-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.code-snippet {
    padding: 0.15rem;
    background: rgba(0, 0, 0, 0.03);
}

h2 {
    font-weight: 550;
}

fd-card {
    width: 80%;
}

.fd-tabs__panel.is-expanded {
    width: 95%;
}

pre {
    margin: 25px 0px;
    background-color: #fff !important;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: flex;
    padding: 1rem;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    border: 1px solid #ccc;
    border-radius: 4px;

    code {
        display: block;
    }
}

.docs-component {
    margin-bottom: -28px;
    border-radius: 4px 4px 0 0;
    padding-bottom: 4px;
    border: 1px solid #ccc;
    transition: 0.25s background-color;

    pre {
        background-color: #fff;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        a:hover {
            text-decoration: none;
            color: inherit;
        }
    }

    .fd-side-nav {
        max-width: 250px;
    }

    .fd-side-nav__link {
        color: inherit;
    }

    .fd-side-nav--icons {
        max-width: 65px;
    }

    .fd-product-tile {
        min-width: 30%;
        float: left;
        margin-right: 20px;
    }

    .fd-tile-grid {
        .fd-product-tile {
            margin-right: 0;
        }
    }

    .fd-tile__content {
        padding: 20px;
    }

    a[aria-disabled='true']:hover,
    a[aria-disabled='true']:visited,
    a[aria-disabled='true']:active,
    a[aria-disabled='true']:focus,
    a.is-disabled {
        color: rgba(10, 110, 209, 0.4);
        cursor: not-allowed;
        text-decoration: none;
    }

    .fd-breadcrumb {
        margin-bottom: 8px;
    }
}

.fd-centered-content {
    text-align: center;
}

.is-disabled {
    pointer-events: none;
}

//highlight overrides
.hljs-tag {
    color: #000080;
}
.hljs-name {
    color: #000080;
}
.hljs-attr {
    color: #008080;
}
.hljs-string {
    color: #d14;
}

.side-nav__search {
    padding: 10px 10px 0 10px;
}

a:focus {
    text-decoration: underline;
}

.fd-playground--markdown {
    ol,
    ul {
        padding-left: 2rem;
    }

    pre {
        margin: 25px 0px;
        background-color: #fff !important;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        display: flex;
        padding: 1rem;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        border: 1px solid #ccc;
        border-radius: 4px;

        code {
            display: block;
        }
    }
}
.fd-playground--markdown > h1 {
    margin: 0 0 12px;
    font-size: 2.2rem;
    line-height: 1;
}

.fd-playground--markdown > p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.fd-flex-row {
    display: flex;
    flex-direction: row;
}

.fd-flex-col {
    display: flex;
    flex-direction: column;
}
