.fd-button {
    margin-right: 12px;
    margin-bottom: 10px;
}

.element {
    width: 100px;
    min-width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: red;
}


.container-wrap {
    overflow: hidden;
    width: 300px;
}

.container-ex {
    display: flex;
}
